<section class="about-petition">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="heading-mega">
          THIS IS A PETITION
        </h1>
      </div>
      <div class="col-sm-8">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sapiente maxime nulla animi vero corporis quae dolorem error odit id, placeat sequi ad quos molestias earum nesciunt necessitatibus quam eaque.</p>
      </div>
    </div>
  </div>
</section>
<section class="petition-form">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <iframe src="https://docs.google.com/forms/d/1y2BWTXJ43Jpnuh7aZDWMX6ULUfhoS6eDZAiKl8GY9xU/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
  </div> 
</section>
